*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #ffffff;
}

.container{
    width: 100%;
    padding: 100px;
    display: flex;
    justify-content: space-between;
}

.range-block{
    padding: 20px;
    background: #16C7CA;
}

p{
    color: #fff;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
    margin: 15px 0;
    font-size: 20px;
}

input{
    margin-right: 15px;
}

.block{
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #16C7CA;
    border: 0px #000;
    margin-top: -80px;
    margin-right: 300px;
    transition: 0.3s ease;
}

textarea{
    width: 70%;
    height: 50%;
    resize: none;
    padding: 15px;
    opacity: 1;
    border: none;
}

.range-block {
    margin-top: -80px;
    margin-left: -80px;
}

.range-block select {
    background-color: #fff;
    color: blue;
    padding: 3px 15px;
    text-transform: uppercase;
    width: 200px;
    height: 30px;
    border-radius: 8px;
    border: 1px solid blue;
    outline: none;
}